.task_card {
    background-color: #53abd6;
    color: #fdfdfd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: move;
}

.card_header {
    border-bottom: 1px solid #e4f6ff;
    padding-bottom: 5px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}
.card_content{
    font-size: 14px;
}

.card_header_title {
    font-weight: bold;
}

.card_body {
    text-align: left;
    min-height: 30px;
    position: relative;
}
.card_header_status{
    display: inline-block;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
    top: -7px;
    color: #d22323;
}

.card_header_control_buttons {
    display: inline-block;
    position: absolute;
    right: 5px;
    margin: 0;
    padding: 0;
    top: -13px;
    right: -6px;
}


.card_header_control_buttons_remove {
    opacity: 0.6;
    color: #ff4545;
    display: inline-block;

}

.card_header_control_buttons_remove:hover {
    opacity: 0.9;
    cursor: pointer;
}

.card_header_control_buttons_edit {
    opacity: 0.6;
    color: #008000;
    display: inline-block;
    font-size: 12px;
    margin-right: 3px;
}

.card_header_control_buttons_edit:hover {
    opacity: 0.9;
    cursor: pointer;
}