.card_container_wrapper{
    display: inline-block;
    padding: 7px;
    text-align: center;
    background-color: #5d90ab;
    color: white;
    margin: 5px;
    width: 300px;
    vertical-align: top;
    border-radius: 5px;
    white-space: normal;
}

.card_container{
    position: relative;
}

.card_container_header{
    border-bottom: 1px solid #e4f6ff;
    padding-bottom: 5px;
    cursor: move;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.header_title{
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.card_container_body{
    min-height: 60px;
    max-height: 700px;
    overflow-y: auto;
}

.card_container_body::-webkit-scrollbar{
    width: 10px;
}
.card_container_body::-webkit-scrollbar-track{
    background: #f1f1f1;
}

.card_container_body::-webkit-scrollbar-thumb {
    background: #7ab6d4;
}

.card_container_body::-webkit-scrollbar-thumb:hover {
    background: #5d90ab;
}


.card_container_body:empty{
    margin-bottom: 10px;
}

.card_add_btn{
   position: absolute;
    width: 30px;
    height: 30px;
    background-color: #5d90ab;
    left: 130px;
    bottom: -51px;
    border-radius: 5px;
    opacity: 0.1;
}
.card_add_btn:hover{
    opacity: 0.5;
    cursor: pointer;
}
.header_control_buttons{
    display: inline-block;
    position: absolute;
    right: 5px;
    margin: 0;
    padding: 0;
    top: 0px;

}
.header_control_buttons_remove{
    opacity: 0.6;
    color: white;
}
.header_control_buttons_remove:hover{
    opacity: 0.9;
    cursor: pointer;
}