.editable_title {
    min-height: 28px;
    cursor: text;
}

.editable_title_value {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.editable_title__input {
    border: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease;
    color: white;
    font-size: 17px;
    text-align: center;
    width: 100%;
}
